html,body{
    font-family: 'Lato', cursive;
}

.translate{
    background: #1a1b1f;
    padding: 5px;
}

.hero-page{
    min-height: 600px;
    background: url(../img/principal.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    display: table;
    width: 100%;
}
.hero-page .container{
    display: table-row;
}

.hero-page .row{
    display: table-cell;
    vertical-align: middle;
}

.hero-page h2{
    font-family: 'Galada', cursive;
    font-size: 80px;
}

.hero-page h1{
    font-size: 70px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.hero-page p{
    font-weight: bold;
    margin-top: 20px;
    letter-spacing: 1px;
}
.hero-pagegaleria{
    min-height: 600px;
    background: url(../img/capa.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(14, 10, 10);
    display: table;
    width: 100%;
}
.hero-pagegaleria .container{
    display: table-row;
}

.hero-pagegaleria .row{
    display: table-cell;
    vertical-align: middle;
}

.hero-pagegaleria h2{
    font-family: 'Galada', cursive;
    font-size: 70px;
    margin-right: 140px;
    margin-top: 208px;



}

.hero-pagegaleria h1{
    font-size: 60px;
    letter-spacing: 7px;
    margin-right: 140px;
    text-transform: uppercase;
}


.sensei{
    padding: 120px 0;
    background: #efefef;
}

.about h2{
    padding-top: 100px;
    font-family: 'Galada', cursive;
    font-size: 40px;
}

.about h3{
    font-size: 30px;
}

.about p{
    margin-top: 30px;
    font-size: 24px;
}

.fotos{
    padding: 120px 0;
}

.fotos h2{
    font-size: 40px;
}

.fotos p{
    margin-top: 30px;
    font-size: 24px;
    margin-bottom: 30px;
}

.portfolio img{
    border: 1px solid #000;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 30px;
    min-height: 241px;
}

.formados{
    background: url(../img/foto2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.faixas ul{
    margin: 20px 0;
}

.image-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 120px 0;
}

.tabela{
    padding: 120px 20px;
}

.tabela img{
    margin: 0 auto;
}

.contato{
    padding: 0 0 120px 0;
}

.contato p{
    margin: 30px 0;
    font-size: 24px;
    color: #969696;
}

.fones p{
    margin: 0;
    color: #000;
}

.mapa{
    padding-top: 100px;
}

.rodape{
    text-align: center;
    padding-bottom: 30px;
}

.rodape a{
    text-decoration: none;
    color: #000;
    font-size: 32px;
    margin: 20px;
}

@media screen and (max-width: 768px){
    .about{
        text-align: center;
        margin-bottom: 20px;
    }
    .about h2{
        padding-top: 0px;
    }
    .image-sensei img{
        margin: 0 auto;
    }
    .formados{
        background: #000;
    }
}